.navbar-dark {
  background-color: #512da8;
  width: 250px;
  float: left;
  padding-bottom: 100%;
}

.editar {
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.google-button {
  margin-left: 10%;
}

.centrado {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.campo {
  justify-content: center;
  margin: 20px;
}
.contenedor-formulario {
  margin-top: 100px;
  justify-content: right;
}

.tarjeta-auditoria {
  margin: 30px;
  justify-content: center;
}
.register-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.contenedor{
  margin-right: 43%;
  margin-top: 3.2%;
}
.card{
  width: 30rem;
  margin-left: 100%;
  image-resolution: 100%;
}
.imagen{
  background-image: url(images/tool-shot.png);
  background-repeat: no-repeat;
}

.fondo{
  background-color: #5e4457;
}
.cancelar{
  margin-left: 10%;
  display: inline-block;
}



